/*
Text Alignment

Alignment
Direction
Vertical Alignment



*/
/* div{
 background-color: burlywood;
    text-align: center;
    direction: rtl;

}
img{
    vertical-align: middle;
}
.big{
    line-height: 1.6;
} */


div {

}

.one::after{
    content: "";
    position:absolute;
    background-color: aqua;
    top:0;
    right:0;
    height: 100%;
    width: 10px;
}

.one{
        background-color: #eee;
    color: black;
    padding: 10px;
    position: sticky;
    top: 20px;
    position: relative;
}

a {
    color: green;
    text-decoration: none;
}


a:hover {
    color: red
}

.in::first-letter {
    color: blue;
    font-size: xx-large;

}