/*
Text Alignment

Alignment
Direction
Vertical Alignment



*/
/* div{
 background-color: burlywood;
    text-align: center;
    direction: rtl;

}
img{
    vertical-align: middle;
}
.big{
    line-height: 1.6;
} */
 html{
    font-size: 20px;
 }
 body{
    
 }

div{
    border: 5px solid blue;
    padding:100px
}

p{
    margin:0px;
    background-color: #ec0c0c;
    opacity: 0.2;
    border:inherit;
    text-align: center;
    padding: inherit;
}

.cairo-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: italic;
  font-variation-settings:
    "slnt" 0;
}

.one{
    font-family: "Cairo", sans-serif; 
      font-weight: 700;
      font-size: 2.5rem;
}
.two{
    font-family: "Cairo", sans-serif; 
      font-weight: 700;
}
.three{
    font-family: "Jomhuria", sans-serif;
      font-weight: 400;
      
}