
/*
Block

-Take Full Width if no Width
-Add Line break 
-Respect Padding, Margin, Width, hight

Inline

-Don't add line break
-Don't respect width, Height
-Respect Padding and margin [Left & right]
-Allow Elements Before and After it

Inline-Block

-Allow Elements before and after it
-Respect Padding, Margin, Width, hight
-



*/

span{
    background-color: #EEE;
    display: inline-block;  
    padding:20px;  
    margin:20px;
    width: 200px;
    height:200px
}